@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --grey: #333;
    --white: #fff;
    --orange: #ffa500;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s all linear;
    font-family: "Nunito Sans", sans-serif;
}

*::selection{
    background: var(--orange);
    color: var(--white);
}

header #menu-bar{
    color: var(--white);
    font-size: 1.7rem;
    display: none;
}

header #menu-bar:hover{
    color: var(--orange);
    cursor: pointer;
}

.btn{
    border: 1px solid var(--orange);
    background-color: var(--orange);
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    padding: .5rem .7rem;
    display: inline-block;
    border-radius: .5rem;
}

section{
    padding: 2rem 5%;
}

.heading{
    text-align: center;
    padding: 3rem 0;
}

.heading span{
    color: var(--orange);
    font-size: 2.5rem;
    background-color: rgba(255, 175, 0, 0.2);
    text-transform: uppercase;
    padding: 0.3rem;
    margin: .3rem;
    border-radius: .5rem;
}

.heading span.space{
    background: none;
}

.btn:hover{
    background: var(--white);
    color: var(--orange);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo {
    font-size: 2.5rem;
    color: var(--white);
    text-transform: uppercase;
}

header .logo span {
    color: var(--orange);
}

header .navbar a {
    color: var(--white);
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

header .navbar a:hover {
    color: var(--orange);
    text-decoration: underline;
}

header .icons i{
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 0.5rem;
}

header .icons i:hover {
    color: var(--orange);
    cursor: pointer;
}

header .searchbar{
    position: absolute;
    width: 100%;
    top: 100%; left: 0;
    display: flex;
    align-items: center;
    padding: .5rem;
    background-color: var(--grey);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .searchbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .searchbar input{
    width: 100%;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    text-transform: none;
    color: var(--grey);
    font-size: 1rem;
}

header .searchbar label {
    color: var(--white);
    font-size: 1.3rem;
}

.login-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1200;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleY(0);
}

.login-form.active{
    transform: scaleY(1);
}

.login-form i{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
    font-size: 1.5rem;
}

.login-form i:hover{
    color: var(--orange);
    cursor: pointer;
}

.login-form form{
    padding: 1rem;
    width: 50%;
    background-color: white;
}

.login-form form h2{
    text-align: center;
    color: var(--orange);
    text-transform: uppercase;
    font-size: 2rem;
}

.login-form form input[type="password"], .login-form form input[type="email"]{
    width: 99%;
    border-radius: 0.5rem;
    margin: 0.5%;
    padding: 0.5rem;
    text-transform: none;
    color: var(--grey);
    font-size: 1rem;
    border: 2px solid rgb(59, 59, 59);
}

.login-form form input[type="submit"]{
    width: 99%;
    margin: 0.5%;
}

.login-form form label{
    font-size: .9rem;
    color: var(--grey);
}

.login-form form input[type="checkbox"]{
    margin: 1%;
    margin-bottom: 0;
}

.login-form form p{
    margin: 1%;
    color: var(--grey);
}

.login-form form p a{
    color: var(--orange);
}

.home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.home video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .content h1{
    color: var(--white);
    font-size: 2rem;
}

.home .content p{
    color: var(--white);
    font-size: 1rem;
    margin: 0.4rem 0;
}

.home .controls{
    margin-top: 3%;
    display: flex;
    background-color: rgba(18, 17, 17, 0.5);
    padding: 0.5rem;
    border-radius: 0.4rem;
    width: 6.5rem;
}

.home .controls .vid-btn{
    background-color: rgba(255, 255, 255, 0.6);
    width: 1rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    height: 1rem;
    border-radius: 100%;
}

.home .controls .vid-btn.active{
    background-color: var(--orange);
}

.book .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book .inner .image{
    width: 49%;
}

.book .inner form{
    width: 49%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 0.5rem;
}

.book .inner form .inputBox h3{
    font-size: 1.3rem;
    color: var(--grey);
}

.book .inner form .inputBox input{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
    margin: 0.5rem 0;
    text-transform: none;
    padding: 2%;
}

.packages .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.packages .inner .box{
    width: 32%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.packages .inner .box:hover{
    box-shadow: 0 0 3rem var(--orange);
    width: 33%;
}

.packages .inner .box img{
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    margin-bottom: 0.5rem;
    height: 16rem;
}

.packages .inner .box .content{
    padding: 0.5rem;
}

.packages .inner .box .content .stars i{
    color: var(--orange);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.packages .inner .box .content h4{
    font-size: 1.5rem;
    color: var(--orange);
    margin-bottom: 0.5rem;
}

.packages .inner .box .content .price{
    margin-bottom: 1rem;
    color: var(--grey);
}

.packages .inner .box .content p{
    color: var(--grey);
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.packages .inner .box .content .price span{
    font-size: 1rem;
    color: #666;
    text-decoration: line-through;
}

.services .content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.services .content .box{
    width: 23%;
    padding: 2%;
    text-align: center;
}

.services .content .box i{
    font-size: 2rem;
    color: var(--orange);
    margin-bottom: 5%;
}

.services .content .box h3{
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.services .content .box p{
    font-size: 1.2rem;
    color: var(--grey);
}

.services .content .box:hover{
    box-shadow: 0 0 2rem var(--orange);
}

.gallery .inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery .inner .box{
    width: 24%;
    margin-bottom: 1%;
    height: 16rem;
    position: relative;
    overflow: hidden;
}

.gallery .inner .box:hover .content{
    top: 0; left: 0;
}

.gallery .inner .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .inner .box .content{
    position: absolute;
    top: -100%; left: -100%;
    background: rgb(0, 0, 0, .4);
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(red, green, blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery .inner .box .content h5{
    font-size: 1.4rem;
    color: var(--orange);
}

.gallery .inner .box .content p{
    font-size: 1.3rem;
    color: var(--white);
    margin: 0.3rem 0;
}

.contact .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}
.contact img{
    width: 45%;
}

.contact form{
    width: 45%;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}

.contact form .inputBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.contact form .inputBox input{
    width: 49%;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.contact form textarea{
    width: 100%;
    resize: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    height: 50%;
}

footer{
    background-color: #000;
    padding: 4%;
}

footer .content{
    display: flex;
    justify-content: space-between;
}

footer .content .content_info{
    width: 20%;
}

footer .content .content_info h2{
    color: white;
    margin-bottom: 4%;
    font-size: 1.3rem;
}

footer .content .content_info p{
    color: var(--grey);
    font-size: 1rem;
}

footer .content .content_info a{
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 2%;
    display: block;
}

footer .content .content_info a:hover{
    color: var(--orange);
    text-decoration: underline;
}

footer .line{
    width: 100%;
    height: 0.5vh;
    margin: 2% auto;
    background-color: var(--grey);
}

footer .author{
    color: white;
    font-size: 1rem;
    text-align: center;
}

footer .author a{
    color: var(--orange);
}

@media (max-width: 1200px){
    html{
        font-size: 95%;
    }
    .gallery .inner .box{
        height: 14rem;
    }
    .packages .inner .box img{
        height: 12rem;
    }
}

@media (max-width: 970px){
    html{
        font-size: 90%;
    }
    header #menu-bar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        width: 100%;
        top: 100%; left: 0;
        background-color: var(--grey);
        transform: scaleY(0);
    }

    header .navbar.active{
        transform: scaleY(100%);
    }

    header .navbar a{
        display: block;
        margin: 0.5%;
        padding: 0.5%;
        border-radius: 1rem;
        background-color: black;
    }

    .gallery .inner .box .content h5{
        font-size: 1.3rem;
    }

    .gallery .inner .box .content p{
        font-size: 1.1rem;
    }
}

@media (max-width: 860px){
    html{
        font-size: 80%;
    }
    section{
        padding: 1rem 3%;
    }
    .packages .inner .box{
        width: 48%;
    }
    .packages .inner .box img{
        height: 16rem;
    }
    .packages .inner .box:hover{
        width: 49%;
    }
    .gallery .inner .box{
        width: 49%;
        height: 18rem;
    }
    .gallery .inner .box .content h5{
        font-size: 1.7rem;
    }
    .gallery .inner .box .content p{
        font-size: 1.4rem;
    }
    .gallery .inner .box .content .btn{
        font-size: 1rem;
    }
}

@media (max-width: 797px){
    .book .inner, .contact .content{
        justify-content: center;
    }
    .book .inner .image, .contact .content img{
        display: none;
    }
    .book .inner form, .contact .content form{
        width: 90%;
    }
}